---
const today = new Date();
---

<footer class='container mt-8'>
  <div class="justify-center flex gap-4 py-8 prose dark:prose-invert text-sm">
    <a href="https://rssby.email/">Newsletter</a>|
    <a href="mailto:greciavalentinapv@gmail.com">Email me</a>|
    <a href="https://gvpv12.github.io/rss.xml">RSS</a>|
    <a href="https://gvpv12.github.io/rss.xml">Substack Newsletter</a>
  </div>

	<div class='py-4 border-t dark:border-t-zinc-700'>
    <div class="md:flex text-xs text-zinc-500 dark:text-zinc-300 prose dark:prose-invert justify-between">
      <div>Copyright © {today.getFullYear()} Alma de estrella nocturna.</div>
      <!-- Please leave the credit if you dont make a significant changes to the template. It's just a nofollow link :)  -->
      <div>★ ✫ ★ </div>      
    </div>
	</div>
</footer>
