@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  pre,
  code {
    font-size: 0.875rem;
  }
}

/* Agregar aquí los estilos para links */
@layer base {
  a {
    color: #0ae1e4; /* azul por defecto, cambia por tu color */
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  
  a:hover {
    color: #c71d6d; /* azul más oscuro al hover */
    text-decoration: underline;
  }
}

/* O si prefieres ser más específico para links en contenido */
@layer base {
  .prose a,
  .content a,
  article a,
  p a {
    color: #c71d6d; 
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  
  .prose a:hover,
  .content a:hover,
  article a:hover,
  p a:hover {
    color: #0ae1e4; /* verde más oscuro */
  }
}