---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[0.625rem] my-4'>
		<p class='mb-3'>
			Me gustaría poder decir que soy todo lo que quiero ser y sé todo lo que quiero saber, pero la verdad es que todavía estoy en el camino de, y aunque haya un momento en el que sienta que he llegado a algún lado, sé que siempre habrá más por aprender y descubrir. Y eso fuera de ponerme triste o decepcionarme, es lo que me emociona porque significa que la vida es un viaje constante de crecimiento y evolución. Y en el momento en que deje de aprender es lo único que denotará el final del camino.

			
		</p>
		<p>Actualmente soy un diseñadora y desarrolladora web que crea experiencias digitales atractivas y funcionales. Pero me apasiona el mundo de desarrollo de videojuegos desde muy pequeña así que una de mis metas de vida es desempeñarme en esa área o hacer una transición a ella.</p>
	</div>
</div>


