---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import pfp from '@src/assets/img/pfp.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="Info"
	description="Lorem ipsum dolor sit amet"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-xl font-bold mb-4">hi 👋, thanks for passing by! </h1>
            <Prose>
              <div class="text-sm">
                <p>Bienvenido a mi segundo cerebro, donde compartiré cualquier cosa que me llame la atención. No, no escribi esto con IA porque me dio flojera. No encontrarás contenido generado por IA pero si por una persona real que tiene demasiadas cosas que le interesan y no sabe realmente en cual concentrarse. Suena caótico pero para un jardín digital tal vez ese defecto puede tornarse en algo divertido y útil que me permita darle mejor uso a mi tiempo ejerciendo más mi pensamiento crítico en vez de ser manipulade junto con las masas.</p>
                <p>Quise que este espacio tuviera un sello de mi personalidad y de lo que me gusta. Por ejemplo el nombre, me tarde un poco en encontrar uno que me gustara lo suficiente y decidí quedarme con Alma de estrella nocturna. Quise combinar dos palabras que me gustan: estrella y alma nocturna. Siempre me ha gustado todo lo que tiene que ver con las galaxias y el universo. También me gusta Alma nocturna porque me considero noctambula, me gusta la noche porque es tranquila y invita tanto a la instrospección como a la concentración.</p>  
              </div>
            </Prose>
          </div>
          <Image src={pfp} alt="Jardin digital Grecia V." width={300}  class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>     
        <article>
          <Prose>
            <h2 class="text-2xl font-bold mb-4">Sobre mi</h2>
            <div class="text-sm">
              <p>Soy Grecia, una persona curiosa y apasionada por aprender cosas nuevas. Me encanta explorar diferentes temas y compartir mis descubrimientos con los demás. Creo que el conocimiento es una herramienta poderosa que puede transformar vidas y abrir puertas a nuevas oportunidades.</p>
              <p>En este espacio, encontrarás una variedad de temas que me interesan, desde tecnología y ciencia hasta arte y cultura. Mi objetivo es crear un lugar donde pueda compartir mis pensamientos, ideas y experiencias, y espero que también puedas encontrar algo que te inspire o te ayude en tu propio viaje de aprendizaje.</p>
              <p>Gracias por visitar mi jardín digital. Espero que disfrutes explorando tanto como yo disfruto creando este espacio.</p>
            </div>
          </Prose>
        </article>
      </article>
    </main>
  </div>
</BaseLayout>
